@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&family=Roboto+Mono:ital,wght@1,300&family=Zen+Kurenaido&display=swap');


body {
    background-image: url(./images/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    text-align: center;
    background-color: #d62828;
    color: #ffffff;
}

.proggress {
    margin-bottom: 2rem;
}

table {
    overflow: hidden;
    border-radius: 10px;
    margin-top: 2rem;
    opacity: 90%;
}

.form {
    background-color: #C7DBD2;
    color: rgb(7, 7, 7);
    padding: 2rem;
    width: 520px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 7px;
    box-shadow: 5px 10px #000000;
    opacity: 90%;
}

.edit {
    background-color: #C7DBD2;
    color: rgb(7, 7, 7);
    padding: 1rem;
    width: 520px !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 7px;
    box-shadow: 5px 10px #000000;
}

td {
    font-size: 15px;
}

input {
    height: 45px;
    border-radius: 8px;
}